body {
  background-color: white;
  padding-bottom: 0px;
  position: relative;
  overflow-x: hidden;
}

.nav-item {
  display: block;
  text-decoration: none;
  color: #6b6c6a;
  font-size: 18px;
}

.btn-account {
  font-size: 18px;
  height: 100%;
}

.active-text {
  color: #15a362;
  font-weight: 500;
}

.sub-btn-text {
  color: #15a362;
  padding: 10px 24px;
  font-weight: 500;
  background-color: #daf6ea;
  width: fit-content;
}

.text-banner {
  margin-top: 20px;
  font-size: 68px;
  font-weight: 700;
}

.item-list1 {
  margin-top: 120px;
}

.pre-btn {
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: #d4fbea;
}

.next-btn {
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: #15a362;
}

.ti-angle-left {
  font-weight: bold;
}
.ti-angle-right {
  font-weight: bold;
  color: white;
}

.card-img-top {
  object-fit: cover;
}

.contact-us {
  width: 100%;
  background-color: #15a362;
  height: 400px;
  padding: 40px 40px;
}

.info {
  width: 60%;
  color: white;
}

.map-container {
  width: 30%;
}

.map {
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 4px;
}

.input-div {
  padding: 16px 24px;
  background-color: white;
  color: black;
  border-radius: 12px;
  width: fit-content;
}

.email-sub {
  opacity: 0.65;
}

.bct {
  width: 160px;
  margin-top: 20px;
}

.logo-to {
  width: 80px;
}

.gradient-circle1 {
  position: absolute;
  top: 100px;
  left: -280px;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(91, 239, 171, 0.6),
    rgba(255, 255, 255, 0)
  );
  z-index: -99;
  filter: blur(100px);
}

.gradient-circle2 {
  position: absolute;
  top: 500px;
  right: -300px;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(91, 239, 171, 0.7),
    rgba(255, 255, 255, 0)
  );
  z-index: -99;
  filter: blur(100px);
}
